{% extends "base.html" %}
{% block content %}
<h1> O usuário logado é {{ user }}</h1>

<h2>A pessoa  {{ nome}} foi editada.</h2>
<h2>seu id é   {{ pessoa_id}}.</h2>
<h2>seu slug é {{ pessoa_slug }}.</h2>

<ul>
    <li><a href="{% url 'app_crud:listas' %}">Voltar</a> </li>
    
</ul>

<form  method="post">{% csrf_token %}
    <div class="form-group row ">
        <div class="col-8 ">
            
            {{ form.as_p}}
            
        </div>
        <div class="col-4">
            <input type="submit" value="Submit" class="bg-primary text-white" />
        </div>
    </div>
   
</form>
<button class="btn-group btn-lg"><a href="{% url 'app_crud:listas' %}">voltar</a></button>
{% endblock %}